<div class="container">
  <div class="row">
    <!-- Conteúdo principal -->
    <div class="col-12 col-md-10 col-lg-9 mx-auto mt-5">
      <!-- Titulo -->
      <div class="text-md-start">
        <h1 class="fw-bold text-primary">Listar Compromissos</h1>
        <hr />
      </div>

      <!-- Barra de Ações -->
      <div class="d-grid d-md-flex gap-1 mt-5">
        <a
          [routerLink]="['/compromissos/inserir']"
          role="button"
          class="btn btn-primary me-md-1"
        >
          <i class="bi bi-plus-circle me-1"></i>
          Novo Compromisso
        </a>
      </div>
      
      <!-- Listagem de Registros -->
      <div class="row mt-3 g-3 justify-items-sm-center">

        <div *ngFor="let compromisso of compromissos" class="col-12 col-md-6 col-lg-4">
          <div class="card h-100 border-dark">
            <div class="card-body d-flex flex-column gap-1">
              <div class="d-flex flex-column">
                <h5 class="card-title mb-1 text-primary">{{compromisso.assunto}}</h5>
                <span class="card-text text-muted fw-semibold">Data: {{compromisso.data | date}}</span>
              </div>
              <span class="card-text text-muted fw-semibold"
                >Inicio: {{compromisso.horaInicio }}</span
              >
              <span class="card-text text-muted fw-semibold">Término: {{compromisso.horaTermino }}</span>
            </div>

            <div
              class="d-flex gap-1 justify-content-end card-footer bg-transparent"
            >
              <button
                class="btn btn-outline-success rounded-5 py-2"
                routerLink="/tarefas/editar/{{compromisso.id}}"
                aria-label="Editar"
                ngbTooltip="Editar"
                placement="bottom"
              >
                <i class="bi bi-pen"></i>
              </button>
              <button
                class="btn btn-outline-danger rounded-5 py-2"
                routerLink="/tarefas/excluir/{{compromisso.id}}"
                aria-label="Excluir"
                ngbTooltip="Excluir"
                placement="bottom"
              >
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
