<mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle>{{ tituloCard }}</mat-card-subtitle>
    <mat-card-title>{{ compromisso.assunto }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle class="conteudo"> Data: {{ compromisso.data | date }}</mat-card-subtitle>
    <mat-card-subtitle class="conteudo"> Contato: {{ compromisso.nomeContato }}</mat-card-subtitle>
    <mat-card-subtitle class="conteudo"> Inicio: {{ compromisso.horaInicio }}</mat-card-subtitle>
    <mat-card-subtitle class="conteudo"> Término: {{ compromisso.horaTermino }}</mat-card-subtitle>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button 
      mat-button
      routerLink="/compromissos/excluir/{{ compromisso.id }}"
      >Excluir
    </button>
    <button 
      mat-button
      routerLink="/compromissos/editar/{{ compromisso.id }}"
      >Editar
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar></mat-progress-bar>
  </mat-card-footer>
</mat-card>