<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-6 mx-auto mt-5">
      <div class="text-md-start">
        <h1 class="fw-bold text-primary">Inserir Novo Contato</h1>
      </div>

      <form [formGroup]="formulario" (ngSubmit)="gravar()" class="mt-4">
        <div class="form-group mb-3 position-relative">

          <label class="form-label">Nome:</label>

          <input
            [ngClass]="campoEstaInvalido('nome') ? 'is-invalid' : ''"
            formControlName="nome"
            class="form-control"
            type="text"
            placeholder="Digite o nome do contato"
          />

          <div *ngIf="campoEstaInvalido('nome')" class="invalid-tooltip">
            <span>O nome precisa ser preenchido.</span>
          </div>

        </div>

        <div class="form-group mb-3 position-relative">

          <label class="form-label">Email:</label>

          <input
            [ngClass]="campoEstaInvalido('email') ? 'is-invalid' : ''"
            formControlName="email"
            class="form-control"
            type="text"
            placeholder="Digite o email do contato"
          />

          <div *ngIf="campoEstaInvalido('email')" class="invalid-tooltip">

            <span *ngIf="email?.errors?.['required']">
              O email precisa ser preenchido.
            </span>

            <span *ngIf="email?.errors?.['email']">
              O valor precisa ter um formato de email.
            </span>

          </div>

        </div>

        <div class="form-group mb-3 position-relative">

          <label class="form-label">Telefone:</label>

          <input
            [ngClass]="campoEstaInvalido('telefone') ? 'is-invalid' : ''"
            formControlName="telefone"
            class="form-control"
            type="text"
            placeholder="Digite o telefone do contato"
          />

          <div *ngIf="campoEstaInvalido('telefone')" class="invalid-tooltip">
            <span>O telefone precisa ser preenchido.</span>
          </div>

        </div>

        <div class="form-group mb-3 position-relative">

          <label class="form-label">Cargo:</label>

          <input
            [ngClass]="campoEstaInvalido('cargo') ? 'is-invalid' : ''"
            formControlName="cargo"
            class="form-control"
            type="text"
            placeholder="Digite o cargo do contato"
          />

          <div *ngIf="campoEstaInvalido('cargo')" class="invalid-tooltip">
            <span>O cargo precisa ser preenchido.</span>
          </div>

        </div>

        <div class="form-group mb-3 position-relative">

          <label class="form-label">Empresa:</label>

          <input
            [ngClass]="campoEstaInvalido('empresa') ? 'is-invalid' : ''"
            formControlName="empresa"
            class="form-control"
            type="text"
            placeholder="Digite a empresa do contato"
          />

          <div *ngIf="campoEstaInvalido('empresa')" class="invalid-tooltip">
            <span>A empresa precisa ser preenchida.</span>
          </div>

        </div>

        <div class="card-footer g-grid d-flex gap-1 mt-5">
          <button
            (click)="gravar()"
            type="button"
            class="btn btn-primary px-5"
          >
            <i class="bi bi-save me-2"></i>
            Gravar
          </button>
          <button
            routerLink="/contatos/listar"
            type="button"
            class="btn btn-outline-primary px-5"
          >
            <i class="pi pi-arrow-left me-2"></i>
            Voltar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
